.textBox {
  width: 100%;
  resize: none;
  height: 61px;
  font-size: 25px;
  margin-top: 20px;
  padding: 1%;
}
.input {
  width: 100%;
  font-size: 35px;
  height: 50px;
  padding: 2% 1%;
  font-family: Copperplate Gothic Light;
  font-weight: 700;
  margin-top: 20px;
}
.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Add some Image In Blogs";
  color: black;
  display: inline-block;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 500;
  font-size: 10pt;
  margin-top: 20px;
  font-family: Century Gothic;
  background: white;
  border: 1px solid black;
  text-align: center;
  box-shadow: 1px 1px 1px 1px black;
}

.custom-file-input:hover::before {
  color: white;
  background-color: black;
}

.Publishbuttonn {
  font-family: Century Gothic;
  margin-left: 4%;
  padding: 1%;
  margin-top: 25px;
  width: 90%;
  margin-bottom: 50px;
  background: white;
  border: 1px solid black;
  text-align: center;
  display: inline-block;
  box-shadow: 1px 1px 1px 1px black;
}

.Publishbuttonn:hover {
  color: white;
  background-color: black;
}
.blogBox {
  width: 65%;
  border: 1px solid black;
  padding: 2%;
  margin: 8% 0% 0% 18%;
  background-color: aliceblue;
}

.box {
  padding-bottom: 90px;
  border: 15px solid orange;
}
